body {
  background-color: #1e1e1e !important;
}

.white {
  color: #fff !important;
}

.orange {
  color: 'orange';
}

.message-name {
  color: #fff !important;
  font-size: 1.2em !important; 
}

.message-text {
  color: #fff !important;
}

.message-time {
  color: rgba(255, 255, 255, 0.5) !important;
}

.segment {
  background-color: #1e1e1e !important;
}

.login-error {
  max-width: 15rem;
  margin: auto;
}

.logo {
  margin-right: 20px;
}

.s-button {
  margin: 10px !important;
}