body {
  background-color: #1e1e1e !important;
}

.white {
  color: #fff !important;
}

.orange {
  color: 'orange';
}

.message-name {
  color: #fff !important;
  font-size: 1.2em !important; 
}

.message-text {
  color: #fff !important;
}

.message-time {
  color: rgba(255, 255, 255, 0.5) !important;
}

h2.header, h1.header {
  padding: 10px 5px !important;
}

.segment {
  background-color: #1e1e1e !important;
}

.login-error {
  max-width: 15rem;
  margin: auto;
}

.logo {
  margin-right: 20px;
}

.s-button {
  margin: 10px !important;
}

.hidden {
  display: none !important;
}

.list-channnel-item:hover {
  background: #333333;
}

.list-channnel-item i {
  padding: 0px 5px;
}

.list-channnel-item:hover i {
  display: inline-block !important;
}

.ui.comments {
    max-width: unset !important;
}